.sidebar_container {
  width: 20vw;
  height: 90vh;
  background-color: #1f1f1f;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
}

.general_container {
  margin-top: 45px;
}

.design_container {
  margin-top: 35px;
}

.general,
.design {
  margin-left: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.product_info,
.product_theme,
.product_background {
  width: 90%;
  padding-left: 35px;
  font-size: 19px;
  margin-bottom: 10px;
  color: #bcbcbc;
  cursor: pointer;
  transition-duration: 300ms;
}

.product_info:hover,
.product_theme:hover,
.product_background:hover {
  background-color: #41484d;
  border-radius: 0 20px 20px 0;
}
