.editor_container {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  overflow: hidden;
}

.header {
  margin-top: 40px;
  width: 85%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.name {
  font-size: 30px;
}

.widget {
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 500;
  margin-left: 30px;
  color: #099cfc;
  background-color: #18232c;
}

.output_container {
  margin-top: 40px;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  box-shadow: #9f9f9f75 0px 0px 29px 0px;
  backdrop-filter: blur(3px); 
  background-color: rgb(228 228 228 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}
