/* *,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1.25rem;
    background: #FAFAFA;
} */

.intro {
  background: #1d1d1d;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #1d1d1d;
  color: #fafafa;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem;
  text-transform: uppercase;
}

.title:hover {
  cursor: pointer;
}

.link {
  height: 100%;
}

.link ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.link li {
  list-style: none;
  transition: 0.5s;
}

.link li a {
  display: block;
  text-decoration: none;
  color: #fafafa;
  padding: 1rem;
  transition: 0.5s;
}

.link li a:hover {
  color: rgb(20, 173, 220);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  /* change */
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdownLink > a {
  display: flex;
  background-color: #000000;
  color: #1c6758;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdownLink:hover > a {
  background-color: #202020;
  color: #fafafa;
}

.dropdownLink:not(:nth-last-child(2)) {
  border-bottom: 1px solid #fafafa;
}

.dropdownLink i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fafafa;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdownLink:first-child:hover ~ .arrow {
  background-color: #000000;
}

.dropdownLink {
  position: relative;
}

.navLink:hover > a {
  transform: scale(1.1);
}

.navLink:hover > .dropdown,
.dropdownLink:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.navLinks > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  position: relative;
  cursor: pointer;
}

.navLink > a {
  color: #fafafa;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.navLink > a > i {
  margin-left: 0.2rem;
}

.navLink:hover > a {
  transform: scale(1.1);
}

.navLink {
  flex: 2;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid rgb(20, 173, 220);
  border-radius: 2rem;
  line-height: 1.2;
  margin: 0 0.3rem;
  margin-top: 0.55rem;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(20, 173, 220);
  color: #fafafa;
}

.btn {
  background-color: transparent;
  color: #fafafa;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
