.back_arrow > i {
  color: #4ab0ff;
  margin-right: 15px;
  font-weight: bolder;
}

.back_arrow {
  margin: 20px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

.element_title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.theme_header {
  font-size: 15px;
  color: #bcbcbc;
  margin-bottom: 25px;
  margin-left: 20px;
}

.theme_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.theme {
  cursor: pointer;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.labels {
  color: rgb(222, 222, 222);
  font-size: 13px;
  margin: 20px;
  margin-top: 15px;
  display: block;
  margin-bottom: 5px;
}

.theme_title {
  color: #bcbcbc;
  margin: 15px 20px 5px 20px;
}

.input {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
  background-color: rgb(64, 72, 79);
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  letter-spacing: 1px;
}

.input::placeholder {
  color: #b8b8b8;
}

.theme_color {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  width: 85%;
  height: 35px;
  background-color: rgb(64, 72, 79);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 15px;
  margin: 0 20px 20px;
  display: flex;
  justify-content: space-between;
}

.color_picker {
  align-self: center;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  overflow: hidden;
  cursor: pointer;
}

.color_picker::-webkit-color-swatch {
  border: none;
  border-radius: 20%;
  padding: 0;
}

.color_picker::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 20%;
  padding: 0;
}
