.home_container {
  width: 100%;
  overflow-x: hidden; 
}

.home_container::-webkit-scrollbar {
    display: none;
}

.home_background {
  height: 50vh;
  width: 100%;
  background: rgb(10, 50, 251);
  background: linear-gradient(
    295deg,
    rgba(10, 50, 251, 1) 0%,
    rgba(23, 245, 238, 1) 100%
  );
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 40vh;
  bottom: 0px;
  height: 60vh;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  justify-content: center; 
}

.add_project_card {
  height: 200px;
  width: 200px;
  background-color: #292929;
  margin: 0 2.5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(18, 233, 233);
  justify-self: center ;
}

.plus_icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(148, 148, 240);
}

.new_proj {
  font-weight: bolder;
  margin: 20px;
  margin-bottom: 0;
}

.plus_icon > i {
  font-size: 40px;
}
