.home_container {
  width: 100%;
  overflow-x: hidden;
}

.home_container::-webkit-scrollbar {
  display: none;
}

.home_background {
  height: 40vh;
  width: 100%;
  background: 0558ee;
  background: linear-gradient(
    270deg,
    #0558ee 0%,
    #1bcbe7 100%
  );
  overflow-x: hidden;
}

.container {
  position: absolute;
  margin-bottom: 50px;
  top: 40vh;
  width: 100%;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  justify-content: center;
}

.add_project_card {
  height: 250px;
  width: 250px;
  background-color: #292929;
  margin: 0 2.5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c8c8c8;
  justify-self: center;
  cursor: pointer;
}

.plus_icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #129ae9;
}

.new_proj {
  font-weight: bolder;
  margin: 20px;
  margin-bottom: 0;
}

.plus_icon > i {
  font-size: 40px;
}
