.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.auth_container {
  width: 60%;
  height: 90%;
  border-radius: 10px;
  display: flex;
}

.image_container {
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-color: rgb(57, 192, 255);
}

.signup_container {
  width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_content {
  width: 80%;
}

.header {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
}

.header_text,
.or,
.login_text {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

.login_text {
  margin-top: 3px;
}

.labels {
  color: rgb(222, 222, 222);
  font-size: 13px;
}

.input {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  margin-top: 2px;
  background-color: rgb(64, 72, 79);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 15px;
}

.username {
  margin-bottom: 0;
}

.username_rule {
  margin: 0;
  font-size: 10px;
  color: #7f7f7f;
  margin-bottom: 8px;
  margin-top: 2px;
}

.password {
  margin-bottom: 0;
}

.password_container {
  margin-bottom: 10px;
  position: relative;
}

.show {
  border-radius: 0 10px 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #b8b8b8;
  width: 40px;
  height: 35px;
  border-left: 1px solid #7f7f7f68;
  background-color: rgb(64, 72, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form_container {
  margin: 15px 0;
}

.signup_btn {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #00aaff 0%,
    #7bbbfa 51%,
    #00aaff 100%
  );
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 20px;
  margin-top: 10px;
  background-size: 200% auto;
  transition: 0.3s;
  letter-spacing: 1px;
  font-weight: 500;
}

.signup_btn:hover {
  background-position: right center;
}

.or {
  width: 100%;
  text-align: center;
  position: relative;
}

.or::before {
  content: "";
  width: 42%;
  height: 1px;
  background-color: #7f7f7f;
  position: absolute;
  top: 8px;
  left: 0;
}

.or::after {
  content: "";
  width: 42%;
  height: 1px;
  background-color: #7f7f7f;
  position: absolute;
  top: 8px;
  right: 0;
}

.signup_google {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #dcdcdc 51%,
    #ffffff 100%
  );
  background-size: 200% auto;
  transition: 0.3s;
}

.signup_google:hover {
  background-position: right center;
}

.google_logo {
  width: 15px;
  margin-right: 10px;
}

.login_btn {
  color: #00aaff !important;
}
